{% csrf_token %}

{% if form.errors %}
    <ul class="errornote">
        {% block form_errors %}
        {% endblock form_errors %}
    </ul>
{% endif %}

{% for field in form.visible_fields %}
    <div class="field-grid">
        <div class="field-label">
            {{ field.label }}:
        </div>

        <div class="field-input">
            {{ field }}
        </div>

        {% if field.help_text %}
            <div class="field-help-text text-padding">{{ field.help_text|safe }}</div>
        {% endif %}

        {% if field.errors %}
            <div class="field-errors">{{ field.errors }}</div>
        {% endif %}
    </div>
{% endfor %}

{% for hidden in form.hidden_fields %}
    <div class="hidden-field">{{ hidden }}</div>
{% endfor %}
