{% load static %}
{% load main_app_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="keywords" content="растения, справочник, энциклопедия, каталог, новости">
    <meta name="rights" content="Павлов Андрей">
    <meta name="description" content="Энциклопедия различных растений, начиная с комнатных цветов и заканчивая деревьями, описания и изображения растений.">
    {% block title %}
    <title>{{title}}</title>
        {% endblock title%}
    <link type="text/css" href="{% static 'main_app/css/styles.css'%}" rel="stylesheet"/>
    {% block icon %}
    <link rel="shortcut icon" href="/static/main_app/images/site_icon.ico" type="image/x-icon">
    {% endblock icon %}
    {% endblock head%}
</head>

<body>
    <div class="wrapper">

        <header>
            {% block header %}
            <div  class="header_title">
                <a href="{% url 'main' %}" class="header_link">Главная</a>
            </div>
                <img src="{% get_random_background_image %}" class="header-background">
            {% endblock header%}
        </header>

        <nav>
            {% block navigation %}
                <ul class="menu">
                    {% get_menu %}
                </ul>
            {% endblock navigation %}
        </nav>

        <div class="main">
            {% block search-and-filters %}

                {% block search %}
                {% endblock search%}

                {% block filters %}
                {% endblock filters%}

            {% endblock search-and-filters %}

            <div class="content">
                {% block content %}
                {% endblock content%}
            </div>

            <aside>
                {% block aside %}
                {% endblock aside%}
            </aside>
        </div>

        <footer>
            {% block footer %}
                <p>Все права защищены.</p>
            {% endblock footer %}
        </footer>
    </div>

</body>
</html>