{% load main_app_tags %}
<header>
    {% block header %}
    <div  id="header_title">
        <div>
            <a href="{% url 'main' %}" class="header_link">Энциклопедия растений</a>
            {% if request.user.is_authenticated %}
                <span>Добро пожаловать, <a href="{% url 'profile' request.user.forumusers.slug %}">{{request.user.username}}</a></span>
                <a href="{% url 'logout' %}">| Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'registration' %}">| Регистрация</a>
            {% endif %}
        </div>
    </div>
        <img src="{% get_random_background_image %}" class="header-background">
    {% endblock header%}
</header>