{% load main_app_tags %}
{% load i18n %}

<nav>
    {% block navigation %}
        <ul class="menu">
            {% for m in menu %}
                <li>
                    <a href="{% url m.url_name %}" class="menu_link">{{ m.title }}</a>
                </li>
            {% endfor %}
            <li>
                 {% if request.user.is_authenticated %}
                    <a href="{{request.user.forumusers.get_absolute_url}}" class="menu_link">
                        {% translate "User Profile" %}</a>
                 {% endif %}
            </li>
             <li>
                 {% if request.user.is_authenticated and request.user.is_staff%}
                    <a href="/admin/" class="menu_link">
                        {% translate "Administration" %}</a>
                 {% endif %}
            </li>
        </ul>
    {% endblock navigation %}
</nav>
