header {
    height: 150px;
    overflow:hidden;
}

.header-background {
    width: 100%;
    height: auto;
}

#header_title{
    text-align: center;
    background-color:PaleGreen;
}

#header_title a.header_link{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

nav{
    background-color: yellow;
}

.main {
  min-height: calc(100vh - 200px);
  display: grid;
  grid-template-columns: 6fr 1fr;
}

a.menu_link{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

ul.menu {
    margin: 0;
    padding: 4px;
   }

ul.menu li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
   }

#footer {
    background-color: yellow;
}

.filters{
  grid-column-start: 1;
  grid-column-end: 3;
}

ul.filters{
    list-style-type:none;
}

ul.filters li{
    display: inline;
    margin-right: 3px;
    padding: 2px;
}

.pagination{
    text-align:center;
}

.pagination span.step-links a{
    text-decoration:none;
    color:blue;
    font-size:18px;
}

.pagination span.current{
    font-size:18px;
}