header {
    height: 150px;
    overflow:hidden;
}

.header-background {
    width: 100%;
    height: auto;
}

#header_title{
    text-align: center;
    background-color:PaleGreen;
}

#header_title a.header_link{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

table.greetings  {
    width:  100%;
    border-spacing: 0;
}

table.greetings td {
    width: 75%;
}

td.rightcol {
    text-align: right;
}

nav {
    background-color: yellow;
}

.main {
  min-height: calc(100vh - 200px);
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.super-title{
    text-decoration:none;
    color:black;
    font-size:32px;
    text-align:center;
    font-weight:bold;
}

.title{
    font-size:24px;
    font-weight:bold;
}

table.list{
    border: black 2px solid;
    border-collapse: collapse;
    width:100%;
    text-align:center;
}

table.list td{
    border: 2px solid black;
}

.number{
    font-size:18px;
}

a.menu_link{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

ul.menu {
    margin: 0;
    padding: 4px;
   }

ul.menu li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
   }

.horizontal_menu
{
    margin-top: 20px;;
    padding: 4px;
    text-align:center;
}

.horizontal_menu li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
   }

.vertical_menu{
    font-size:20px;
    list-style-type:none;
    margin:20px;
    position: fixed;
}

.vertical_menu li{
    margin-top:20px;
}

.vertical_menu li a.topbutton{
    text-decoration:none;
    color:blue;
}

.app_menu_link{
    color: green;
    text-decoration: none;
    font-size: 20px;
}

.app_link{
    color: blue;
    text-decoration: none;
    font-size: 20px;
}

#footer {
    background-color: yellow;
}

.content {

}

.filters{
  grid-column-start: 1;
  grid-column-end: 3;
}

ul.filters{
    list-style-type:none;
}

ul.filters li{
    display: inline;
    margin-right: 3px;
    padding: 2px;
}

.pagination{
    text-align:center;
}

.pagination span.step-links a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

.pagination span.current{
    font-size: 18px;
}

.table-text {
    border: 3px solid;
    text-align: center;
    margin: 10%;
    font-size: 18px;
}

.table-form {
    min-width:500px;
}

.field-grid {
    display:grid;
}

.field-label {
    text-align:left;
    padding:10px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.field-input {
    text-align:left;
    padding:10px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.field-help-text {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: left;
}

.field-errors {
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: left;
}

.errornote {
    color: red;
}

ul.errorlist {
    list-style-type:none;
    border: 2px solid red;
    margin: 5px;
}

ul.errorlist li {
    color:red;
}

.text-padding {
    text-align: left;
    padding: 5px;
}

.text-with-wrap {
    word-wrap: break-word;
    white-space:pre-line;
}