{% extends "news/base.html" %}
{% load i18n %}
{% load main_app_tags %}
{% load cache %}

{% block extrastyles %}
    {{ block.super }}
{% endblock extrastyles %}

{% block content %}
    <ul class="horizontal_menu">
        <li>
            <a href="{% url 'news' %}" class="app_menu_link">
                {% translate "News List" %}</a>
        </li>
        <li>
            <a href="{% url 'random_news' %}" class="app_menu_link">
                {% translate "Random news" %}</a>
        </li>
    </ul>
    <div class="article-wrapper">
        <div class="article-info">
            <h2 class="super-title">{{ object.title }}</h2>
            <div class="article-source">
                <span>
                    {% translate "The article is taken from this source" %}: </span>
                <a class="app_link" href="{{ object.source_url }}">{{ object.source_url }}</a>
            </div>
        </div>
        <article>
            {{ object.content|safe }}
        </article>
    </div>

    <div class="comments-wrapper" id="comments">
        <h2>{% translate "Comments" %}</h2>
        {% for comment in page_obj %}
            <div class="comment-block">
                <div class="comment-user">
                    {% if comment.user %}
                        <a href="{{ comment.user.forumusers.get_absolute_url }}" class="app_link">
                            {{ comment.user }}</a>
                    {% else %}
                        {% translate "Anonymous" %}
                    {% endif %}
                </div>
                <div class="comment-date">{{ comment.time_create }}</div>
                <div class="comment-text">{{ comment.text }}</div>
            </div>
        {% endfor %}
        {% get_pagination %}
        <div class="table-text table-form" id="comment-form">
            <form action="{{ action }}" enctype="{{ enctype }}" method="post">
                {% get_default_form %}
                <div class="field-input"><input type="submit" value="{{ submit_value }}"></div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block aside %}
    <ul class="vertical_menu">
        <li>
            <a href="#" title="{% translate 'Go back to top' %}" class="topbutton">
                ^{% translate "On top" %}</a>
        </li>
        <li>
            <a href="#comments" class="topbutton">
                {% translate "To the comments" %}</a>
        </li>
    </ul>
{% endblock aside %}
