{% extends "forum/base.html" %}

{% block title %}
    <title>{{topic.name}}</title>
{% endblock %}

{% block content %}
    {% block menu_forum %}
        {{block.super}}
    {% endblock menu_forum %}

    <h2>{{topic}}</h2>
    {% for post in page_obj %}
        <p>{{post.author}}</p>
        <p>{{post.time_create}}</p>
        <p>{{post.text}}</p>
        <br>
    {% endfor %}
    {% block pagination %}
        {{block.super}}
    {% endblock pagination %}
    <form action="{% url 'topic' topic.slug %}" method="post">
        {% csrf_token %}
        <ul>
            {{form.as_ul}}
            <li>
                <button type="submit">Создать сообщение</button>
            </li>
        </ul>
    </form>
{% endblock content %}