{% extends "forum/base.html" %}
{% load forum_tags %}

{% block title %}
    <title>{{topic.name}}</title>
{% endblock %}

{% block content %}
    {% block menu_forum %}
        {{block.super}}
    {% endblock menu_forum %}

    <h2>{{topic}}</h2>
    {% for post in page_obj %}
        <p><a name="{{post.pk}}"></a></p>
        {% if post.author.user_image %}
            <p><img src="{{post.author.user_image.url}}" height="80px" width="80px"></p>
        {% endif %}
        <p><a href="{{post.author.get_absolute_url}}">{{post.author}}</a></p>
        <p>{{post.time_create}}</p>
        {% if post.is_changed %}
            <p>Изменено: {{post.time_update}}</p>
        {% endif %}
        <p>Оценка: {% get_post_score post scores %} </p>
        {% if user.is_authenticated %}
        {% if rate_form %}
            <p>
                <form action="{% url 'rate_post' post.pk %}" method="post">
                {% csrf_token %}
                {% get_rate_form_with_initial_data post scores %}
                <input type="submit" value="Оценить">
                </form>
            </p>
        {% endif %}
        {% endif %}
        <p>{{post.text}}</p>
        <p>
            {% for file in post.attachedfiles_set.all %}
            <a href="{{file.get_absolute_url}}">
                <img src="{{file.get_absolute_url}}" alt="{% get_filename_from_path file %}"
                height="100px" width="100px"></a>
            {% endfor %}
        {% if user.id == post.author.id and post.post_type != 0 and post.is_editable %}
            <p><a href="{% url 'update_post' post.pk %}">Редактировать сообщение</a></p>
            <p><a href="{% url 'update_post' post.pk %}">Добавить вложения</a></p>
        {% endif %}
        <br>
    {% endfor %}
    {% block pagination %}
        {{block.super}}
    {% endblock pagination %}
    {% if user.is_authenticated %}
        <form action="{% url 'create_post' topic.pk %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <ul>
                {{form.as_ul}}
                <li>
                    <button type="submit">Создать сообщение</button>
                </li>
            </ul>
        </form>
    {% else %}
        <h3>Только зарегестрированные пользователи могут оставлять сообщения.</h3>
    {% endif %}
{% endblock content %}