{% extends "forum/base.html" %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block filters %}
    <div class="filters">
                <form action="{% url 'topics' object.slug %}" method="get">
                    <ul class="filters">
                        {{filter_form.as_ul}}
                        <li>
                            <input type="submit" value="Применить"/>
                        </li>
                    </ul>
                </form>
    </div>
{% endblock filters %}

{% block content %}
    {% block menu_forum %}
        {{block.super}}
    {% endblock menu_forum %}

    <h2>{{title}}</h2>
    <a href="{% url 'create_topic' object.slug %}">Создать тему</a>
    {% if sections %}
        <h3>Разделы</h3>
        {% for section in sections %}
            <p><a href="{{ section.get_absolute_url }}">{{section.name}}</a></p>
        {% endfor %}
    {% endif %}

    {% if page_obj %}
        <h3>Темы</h3>
        {% for topic in page_obj %}
            <p>
                Просмотры: {{topic.view_count}}
                <a href="{{ topic.get_absolute_url }}">{{topic.name}}</a>
                {{topic.author}}
                {{topic.time_create}}
            </p>
            <br>
        {% endfor %}
        {% block pagination %}
            {{block.super}}
        {% endblock pagination %}
    {% endif %}
{% endblock content %}