{% extends "forum/base.html" %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}
    {% block menu_forum %}
        {{block.super}}
    {% endblock menu_forum %}

    <h2 class="super-title">Создать тему в разделе: {{section}}</h2>
    <div class="table-text table-form">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-grid">
                    <div class="field-label">
                        {{field.label}}:
                    </div>

                    <div class="field-input">
                        {{field}}
                    </div>
                    {% if field.errors %}
                        <div class="field-errors">{{field.errors}}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="field-input"><input type="submit" value="Создать"></div>
        </form>
    </div>

{% endblock content %}