{% extends "forum/base.html" %}
{% load main_app_tags %}
{% load i18n %}

{% block filters %}
    <div class="filters">
        {% if object %}
            <form action="{% url 'topics' object.slug %}" method="get">
        {% else %}
            <form action="{% url 'all_topics' %}" method="get">
        {% endif %}
            <ul class="filters">
                {{ filter_form.as_ul }}
                <li>
                    <input type="submit" value="{% translate 'Apply' %}"/>
                </li>
            </ul>
        </form>
    </div>
{% endblock filters %}

{% block sections %}
    <p class="super-title"><a href="">{{ title }}</a></p>
    {% if object %}
        <p class="create-link">
            <a href="{% url 'create_topic' object.slug %}" class="app_link">
                {% translate "Create topic" %}</a>
        </p>
    {% endif %}

    {% if sections %}
        <p class="title">{% translate "Sections" %}</p>
        {% for section in sections %}
            <p class="title">
                <span class="number">{{ forloop.counter }}</span>
                <a href="{{ section.get_absolute_url }}" class="menu_link">{{ section.name }}</a>
            </p>
        {% endfor %}
    {% endif %}

    <br>
    {% if page_obj %}
        <p class="title topics-list">{% translate "Topics" %}</p>
        <table class="list">
            <tr>
                <td><h3>№</h3></td>
                <td><h3>{% translate "Topic" %}</h3></td>
                <td><h3>{% translate "Author" %}</h3></td>
                <td><h3>{% translate "Time create" %}</h3></td>
                <td><h3>{% translate "Views" %}</h3></td>
            </tr>
            {% for topic in page_obj %}
                <tr>
                    <td class="number">{% get_number forloop.counter %}</td>
                    <td><a href="{{ topic.get_absolute_url }}" class="app_link">{{ topic.name }}</a></td>
                    <td><a href="{{ topic.author.get_absolute_url }}" class="app_link">{{ topic.author }}</a></td>
                    <td class="number">{{ topic.time_create }}</td>
                    <td class="number">{{ topic.view_count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock sections %}
