{% extends "forum/base.html" %}
{% load static %}
{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block filters %}
    <div class="filters">
                <form action="{% url 'all_topics' %}" method="get">
                    <ul class="filters">
                        {{filter_form.as_ul}}
                        <li>
                            <input type="submit" value="Применить"/>
                        </li>
                    </ul>
                </form>
    </div>
{% endblock filters %}

{% block content %}
    {% block menu_forum %}
        {{block.super}}
    {% endblock menu_forum %}

    <h2>{{title}}</h2>
    {% for topic in page_obj %}
        <a href="{{ topic.get_absolute_url }}">{{topic.name}}</a>
        <p>{{topic.time_create}}</p>
        <p>{{topic.author}}</p>
        <br>
    {% endfor %}
    {% block pagination %}
        {{block.super}}
    {% endblock pagination %}
{% endblock content %}