{% extends "forum/default_form_page.html" %}
{% load forum_tags %}
{% load main_app_tags %}

{% block form %}

    {% if initial_files %}
        <div class="field-grid">
            <div class="field-label">Удалить все уже прикрепленные файлы <input type="checkbox" name="delete_initial"></div>
        </div>

        <div class="field-label">К сообщению уже прикреплены файлы:
            {% for file in initial_files %}
            <span><a href="{{ file.get_absolute_url }}">
                {% get_filename_from_url file.file.name %} </a></span>
            {% endfor %}
        </div>
    {% endif %}

    {% if attached_files_errors %}
        <div class="text-padding">Сообщение изменено, но некоторые файлы не добавлены по причине:
            <ul class="errorlist">
                {% for errors in attached_files_errors %}
                    {% for error in errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                {% endfor %}
                {% if not_attached_files %}
                    <li>
                        Список файлов, которые не удалось добавить:
                        {% for file in not_attached_files %}
                            <li>{{file}} </li>
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {{block.super}}
{% endblock form %}