{% extends "main_app/base.html" %}

{% block title %}
    <title>Вход</title>
{% endblock title%}

{% block content %}
    <div class="table-text">
        {% if form.errors %}
            <ul class="errorlist">
                <li>Неверный пароль или имя пользователя.</li>
            </ul>
        {% endif %}

        {% if next %}
            <ul class="errorlist">
                 {% if user.is_authenticated %}
                    <li>
                        У вашего аккаунта нет доступа к этой странице. Чтобы продолжить,
                    пожалуйста, войдите с учетной записи, которая имеет доступ.
                    </li>
                {% else %}
                    <li>Пожалуйста, войдите, чтобы увидеть эту страницу.</li>
                {% endif %}
            </ul>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-grid">
                    <div class="field-label">
                        {{field.label}}:
                    </div>

                    <div class="field-input">
                        {{field}}
                    </div>

                    {% if field.help_text %}
                        <div class="field-help-text">{{field.help_text}}</div>
                    {% endif %}

                    {% if field.errors %}
                        <div class="field-errors">{{field.errors}}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="field-input">
                <input type="submit" value="Войти">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>

        <div class="text-padding"><a href="{% url 'password_reset' %}" class="app_link">Забыли пароль?</a></div>
        <div class="text-padding">
            <span>Еще нет аккаунта?</span>
            <a href="{% url 'registration' %}" class="app_link">Регистрация</a>
        </div>
    </div>
{% endblock content %}