{% extends "main_app/default_form_page.html" %}

{% block title %}
    <title>Вход</title>
{% endblock title%}


{% block non_field_errors %}
    {% if form.non_field_errors %}
        <ul class="errorlist">
            <li>Неверный пароль или имя пользователя.</li>
        </ul>
    {% endif %}

    {% if next %}
        <ul class="errorlist">
             {% if user.is_authenticated %}
                <li>
                    У вашего аккаунта нет доступа к этой странице. Чтобы продолжить,
                пожалуйста, войдите с учетной записи, которая имеет доступ.
                </li>
            {% else %}
                <li>Пожалуйста, войдите, чтобы увидеть эту страницу.</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock non_field_errors %}

{% block extra_info %}
    <div class="text-padding"><a href="{% url 'password_reset' %}" class="app_link">Забыли пароль?</a></div>
    <div class="text-padding">
        <span>Еще нет аккаунта?</span>
        <a href="{% url 'registration' %}" class="app_link">Регистрация</a>
    </div>
{% endblock extra_info %}

{% block submit %}
    <div class="field-input">
        <input type="submit" value="Войти">
        <input type="hidden" name="next" value="{{ next }}">
    </div>
{% endblock submit %}