{% extends 'main_app/base.html' %}
{% load i18n static %}

{% block content %}
<div class="table-text">
    <div class="text-padding">
        {% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}
    </div>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="field-grid">
                <div class="field-label">
                    {{field.label}}:
                </div>

                <div class="field-input">
                    {{field}}
                </div>

                {% if field.help_text %}
                    <div class="field-help-text">{{field.help_text}}</div>
                {% endif %}

                {% if field.errors %}
                    <div class="field-errors">{{field.errors}}</div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="field-input"><input type="submit" value="Восстановить пароль"></div>
    </form>
</div>

{% endblock %}