{% extends 'main_app/default_form_page.html' %}
{% load i18n static %}


{% block submit %}
    <div class="field-input"><input type="submit" value="{% translate 'Change my password' %}"></div>
{% endblock submit %}

{% block form-wrapper %}
    {% if validlink %}
        {% block form_message %}
            <div class="text-padding">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</div>
             <form method="post">
                 {% block form %}
                    {{block.super}}
                 {% endblock form %}
             </form>
        {% endblock form_message %}
    {% else %}
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock form-wrapper %}



