{% extends "news/base.html" %}
{% load main_app_tags %}
{% load i18n %}

{% block filters %}
    <div class="filters">
        <form action="{% url 'news' %}" method="get">
            <ul class="filters">
                {% for field in filter_form %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}
                <li>
                    <input type="submit" value="{% translate 'Apply' %}"/>
                </li>
            </ul>
        </form>
    </div>
{% endblock filters %}

{% block sections %}
    <p class="super-title"><a href="">{{ title }}</a></p>
    <table class="list">
        <tr>
            <td><h3>№</h3></td>
            <td><h3>{% translate "News" %}</h3></td>
            <td><h3>{% translate "Publication date" %}</h3></td>
        </tr>
        {% for news in page_obj %}
            <tr>
                <td class="number">{% get_number forloop.counter %}</td>
                <td>
                    <div class="news-title">
                        <a href="{{ news.get_absolute_url }}" class="app_link">{{ news.title }}</a>
                    </div>
                </td>
                <td>{{ news.publication_date }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock sections %}

{% block aside %}
    <ul class="vertical_menu">
        <li>
            <a href="{% url 'random_news' %}" class="app_link">
                {% translate "Random news" %}</a>
        </li>
        <li>
            <a href="#" title="{% translate 'Go back to top' %}" class="topbutton">
                ^{% translate "On top" %}</a>
        </li>
    </ul>
{% endblock aside %}