.post-grid {
    display:grid;
    grid-template-columns: 1fr 4fr;
    margin: 0px;
}

article.post-grid {
    border: 0px;
}

.user-info {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    text-align:center;
}

.user-info img {
     height:120px;
     width:120px;
}

.user-block {
    border: solid 2px;
    border-left: 0px;
    border-top: 0px;
    width: 50%;
    min-width: 200px;
}

.post-info {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    text-align: left;
}

.score-block {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
}

.form-score {
    width: 100px;
    border: solid 2px;
    border-left: 0px;
}

.post-score {
    width: 100px;
}

.post-text {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    overflow:auto;
    word-wrap: break-word;
    white-space:pre-line;
    max-height: 120vh;
    text-align: left;
    border: solid 2px;
    border-right: 0px;
    margin-bottom: 10px;
    padding: 5px;
}

.attached-files {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    margin-left: 30px;
}

.post-editing {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
    text-align: left;
    padding-left: 20px;
    display:grid;
}

.edit {
    grid-column-start: 1;
    grid-column-end: 2;
}

div.delete {
    text-align:right;
    grid-column-start: 2;
    grid-column-end: 3;
}

table.forum-posts {
    border-collapse: collapse;
    width: 90%;
    position: relative;
    left: 15%;
}

table.forum-posts td{
    border: 2px solid black;
}

.indent {
    height: 20px;
}

.topic-deleting {
    position: relative;
    left: 15%;
    background-color: white;
    border: 2px solid;
    max-width: 40%;
    padding: 5px;
}

.post-create-form {
    position:relative;
    left:5%;
}