{% extends "plants/plants_list.html" %}
{% load static %}
{% load plants_tags %}
{% load main_app_tags %}
{% load i18n %}

{% block filters %}
    <div class="filters">
        <form action="{% url 'categories' %}" method="get">
            <ul class="filters">
                {{ filter_form.as_ul }}
                <li>
                    <input type="submit" value="{% translate 'Apply' %}"/>
                </li>
            </ul>
        </form>
    </div>
{% endblock filters%}

{% block content %}
    {% block titles %}
        {{ block.super }}
    {% endblock titles %}

    {% if object_list.count != 0 %}
        {% get_pagination %}
            <table class="sections-list">
                {% for category in page_obj %}
                        <tr>
                            <td class="number">{% get_number forloop.counter%}</td>
                            <td>
                                <a href="{% url 'plants' %}?cat={{category.slug}}" class="name">
                                    <h2 class="category-name">{{ category.name }}</h2></a>
                            </td>
                        </tr>
                {% endfor %}
            </table>

        {% block pagination %}
            {{block.super}}
        {% endblock pagination%}
    {% else %}
        <h3 class="search-result">
            {% translate "There are no results" %}</h3>
    {% endif %}

{% endblock content%}