{% extends "main_app/base.html" %}
{%load static%}
{% load plants_tags %}
{% block head %}
        {% block title %}
    <title>{{title}}</title>
        {% endblock %}
    {{block.super}}
    <link type="text/css" href="{% static 'plants/css/plant.css'%}" rel="stylesheet"/>
{% endblock %}


{% block filters %}
    <div class="filters">
                <form action="{% url 'plants' %}" method="get">
                    <ul class="filters">
                        {{filter_form.as_ul}}
                        <li>
                            <input type="submit" value="Применить"/>
                        </li>
                    </ul>
                </form>
    </div>
{% endblock filters %}

{% block content %}
    {% block titles %}
        <a href="{% url super_url %}" class="super-title"><h2>{{super_title}}</h2></a>
        <h3 class="title">{{title}}</h3>
    {% endblock titles %}
    {% if object_list.count != 0 %}
        <table class="list">
        {% for plant in page_obj %}
                    <tr>
                        <td class="number">{% get_number forloop.counter%}</td>
                        <td><a href="{{ plant.get_absolute_url }}" class="name"><h2>{{plant.name}}</h2></a></td>
                        <td>
                            {% for description in plant.descriptions_set.all %}
                                {% if description.category == '' %}
                                    <div class="description-block">
                                        <p>{{description.text}}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if plant.image_url %}
                                <img src="{{plant.image_url }}" class="plant-image">
                            {% endif %}
                        </td>
                    </tr>
        {% endfor %}
        </table>
    {% else %}
        <h3 class="search-result">Результаты отсутстуют</h3>
    {% endif %}

    {% block pagination %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=1 %}">&laquo; Первая</a>
                    <a href="?{% url_replace page=page_obj.previous_page_number %}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">Следующая</a>
                    <a href="?{% url_replace page=page_obj.paginator.num_pages %}">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endblock pagination %}
{% endblock content%}

{% block aside %}
    <ul class="menu_plant">
        <li>
            <h2 class="menu-title">Разделы</h2>
        </li>
        {% get_menu_plant %}
        <li>
            <a href="#" title="Вернуться к началу" class="topbutton">^Наверх</a>
        </li>
    </ul>
{% endblock aside%}