{% extends "main_app/base.html" %}
{%load static%}
{% load plants_tags %}

{% block head %}
        {% block title %}
    <title>{{object.name}}</title>
        {% endblock %}
    {{block.super}}
    <link type="text/css" href="{% static 'plants/css/plant.css'%}" rel="stylesheet"/>
{% endblock %}

{% block search-and-filters %}
{% endblock search-and-filters %}

{% block content %}
    <h2 class="title">{{object.name}}</h2>
    {% for description in object.descriptions_set.all %}
        {% if description.text != '' %}
            <div class="description-block">
                <h3>{{description.category}}</h3>
                <p>{{description.text}}</p>
            </div>
        {% endif %}
    {% endfor %}

    <ul class="categories">
    {% for category in object.categories.all %}
        <li>
            <a href="{% url 'category' category.slug %}">{{category.name}}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block aside %}
    <img src="{{object.image_url }}">
    <table class="taxons">
    {% for taxon in object.taxons.all|sort_taxons %}
        <tr class="taxon-row">
            <td class="taxon-column">
                <a href="{% url 'taxons_rang' taxon.order%}">{{taxon.get_order_display}}: </a>
            </td>
            <td class="taxon-column">
                <a href="{% url 'taxon_name' taxon.slug%}">{{taxon.name}} </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock aside%}