{% extends "main_app/base.html" %}
{%load static%}
{% block head %}
        {% block title %}
    <title>{{title}}</title>
        {% endblock %}
    {{block.super}}
    <link type="text/css" href="{% static 'plants/css/data_list.css'%}" rel="stylesheet"/>
{% endblock %}


{% block search-and-filters %}
    <div class="search-and-filters">
        {% block search %}
        <div class="search">
            <form action="{% url 'plants' %}" method="get">
                {% csrf_token %}
                {{search_form}}
                <input type="submit" value="Submit" />
            </form>
        </div>
        {% endblock search%}

        {% block filters %}
            <div class="filters">Фильтры</div>
        {% endblock filters%}
    </div>
{% endblock search-and-filters %}

{% block content %}
       {% for plant in page_obj %}
    <div class="plant">
        <a href="{{ plant.get_absolute_url }}">{{plant.name}}</a>
    </div>
    {% endfor %}

    {% block pagination %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endblock pagination %}
{% endblock content%}

{% block aside %}
    <ul>
        <li>
            <a href="{% url 'plants' %}">Все растения</a>
        </li>
        <li>
            <a href="{% url 'categories' %}">Категории</a>
        </li>
        <li>
            <a href="{% url 'taxons' %}">Таксоны</a>
        </li>
        <li>
            <a href="{% url 'random_plant' %}">Случайное растение</a>
        </li>
    </ul>
{% endblock aside%}