{% extends "main_app/base.html" %}
{%load static%}
{% load plants_tags %}

{% block head %}
        {% block title %}
    <title>{{object.name}}</title>
        {% endblock %}
    {{block.super}}
    <link type="text/css" href="{% static 'plants/css/plant.css'%}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <ul class="horizontal_menu">
        {% get_menu_plant %}
    </ul>
    <h2 class="detail-title">{{object.name}}</h2>
    {% for description in object.descriptions_set.all %}
        {% if description.text != '' %}
            <div class="description-block">
                <h3>{{description.category}}</h3>
                <p class="text-with-wrap">{{description.text}}</p>
            </div>
        {% endif %}
    {% endfor %}

    <ul class="categories">
        <li>
            Категории:
        </li>
    {% for category in object.categories.all %}
        <li>
            <a href="{% url 'plants' %}?cat={{category.slug}}">{{category.name}}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block aside %}
    {% if object.image %}
        <div class="image">
            <a href="{{object.image.url }}"><img src="{{object.image.url }}"></a>
            <p>{{object.name}}, внешний вид</p>
        </div>
    {% endif %}

    <table class="taxons">
        <tr class="taxons-title">
            <th>Таксономическая классификация</th>
        </tr>
    {% for taxon in object.taxons.all|sort_taxons %}
        <tr class="taxon-row">
            <td class="taxon-column">
                <a href="{% url 'taxons_rang' taxon.order%}">{{taxon.get_order_display}}: </a>
            </td>
            <td class="taxon-column">
                <a href="{% url 'plants' %}?taxon={{taxon.slug}}">{{taxon.name}} </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock aside%}