{% extends "plants/plants_list.html" %}
{%load static%}
{% load plants_tags %}
{% load main_app_tags %}
{% block filters %}
{% endblock filters%}

{% block content %}
    {% block titles %}
        {{block.super}}
    {% endblock titles %}
       {% for taxon in page_obj %}
            <table class="taxons-table">
                            <tr>
                                <td class="number">{% get_number forloop.counter%}</td>
                                <td>
                                    <a href="{% url 'plants' %}?taxon={{taxon.slug}}" class="name"><h2>{{taxon.name}}</h2></a>
                                </td>
                            </tr>
            </table>
    {% endfor %}

    {% block pagination %}
        {{block.super}}
    {% endblock pagination%}

{% endblock content%}